*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    margin: 0;
}
body {
    font-family: 'Manrope', sans-serif;
    height: 100%;
    margin: 0;
}
.content{
    min-height: 100%;
    margin-bottom: -50px;
}
.p-relative{
    position: relative;
}


/*============
Navbar styles
==============*/
.navbar-custom{
    padding: 1rem 0;
    box-shadow: 0px 1px 1px rgba(200, 200, 200, 0.25);
}
.navbar-expand-md .navbar-nav .nav-link{
    font-size: 0.89rem;
    font-weight: bold;
    color: #18191F;
}
.nav-item{
    margin-right: 2rem;
}

/*============
Footer styles
==============*/
.footer, .push{
    min-width: 100%;
    padding: 25px 0;
}
.footer p{
    font-size: 0.89rem;
}
.footer-icon{
    margin-right: 15px;
}
.footer-icon:hover{
    cursor:pointer;
}

/*============
Utility class 
==============*/
.bg-primary-color{
    background-color: #3D348B;
}
.primary-color{
    color: #3D348B;
}
.bg-secondary-color{
    background-color: #FCAF58;
}
.secondary-color{
    color: #FCAF58;
}
.bg-tertiary-color{
    background: #000000;
}
.tertiary-color{
    color: #000000;
}
.btn-main{
    border-radius: 8px;
    background: #3D348B;
    color: #ffffff;
    padding: 8px 17px;
    font-size: 0.89rem;
    /* font-weight: 700; */
}
.btn-second{
    border-radius: 8px;
    background: rgba(61, 52, 139, 0.1);
    color: #3D348B;
    font-weight: 700;
    font-size: 0.89rem;
    padding: 8px 30px;
}
.btn-tertiary{
    border-radius: 8px;
    background: #ffffff;
    color: #3D348B;
    font-weight: 700;
    font-size: 0.89rem;
    padding: 8px 30px;
}
.d-none{
    display: none !important;
}
.d-block{
    display: block !important;
}
.d-inline-block{
    display: inline-block;
}
.d-1{
    flex: 0 0 8.3333%;
}
.d-2{
    flex: 0 0 16.6666%
}
.d-3{
    flex: 0 0 25%;
}
.d-4{
    flex: 0 0 33.3333%;
}
.d-5{
    flex: 0 0 41.6666%;
}
.d-6{
    flex: 0 0 50%;
}
.d-7{
    flex: 0 0 58.3333%;
}
.d-8{
    flex: 0 0 66.6666%;
}
.d-9{
    flex: 0 1 75%;
}
.d-10{
    flex: 0 0 83.3333%;
    box-sizing: border-box;
}
.d-11{
    flex: 0 0 91.6666%;
    box-sizing: border-box;
}
.d-12{
    flex: 0 1 100%;
    box-sizing: border-box;
}
.notification .dot{
    height: 21px;
    width: 19px;
    background: rgba(246, 1, 1, 1);
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 3px;
    position: relative;
    left: -3px;
    text-align: center;
    color: white;
    top: -7px;
}
.custom-input{
    border-radius: 8px;
    background: rgba(246, 246, 246, 1);
    font-size: 16px;
}
.custom-input+.error-message{
    display: none;
}
.d-inline-block{
    display: inline-block;
}

/*===============
Responsive styles 
=================*/
@media only screen and (max-width: 360px) {}

@media only screen and (max-width: 543px){}

@media screen and (min-width: 768px) and (max-width: 768px) {}

@media screen and(width: 768px){}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 768px) {}

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {}
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {}
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {}

 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {} 